:root {
  --color-background--top: #28b487;
  --color-background--left: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #95969791;

  --color-background: #93caed;

  --color-1: #0b0c10;
  --color-2: #1f2833;
  --color-3: #c5c6c7;
  --color-4: #66fcf1;
  --color-5: #45a29e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark--2) var(--color-dark--1);
}

select {
  background-color: var(--color-3);
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  width: 55px;
}

input {
  background-color: var(--color-3);
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  width: 55px;
  resize: none;
  text-align: right;
  padding: 4px;
}

input:focus {
  background-color: lightblue;
}

textarea {
  background-color: var(--color-3);
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  resize: none;
}

textarea:focus {
  background-color: lightblue;
}

body {
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  color: white;
  display: flex;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-dark--1);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-dark--2);
  border-radius: 20px;
  border: 3px solid var(--color-dark--1);
}

/* SIDEBAR */
.sidebar {
  flex-direction: column;
  background-color: var(--color-dark--1);

  display: flex;
  flex: 30%;
}

/* MAP */
#mapid {
  display: flex;
  flex: 70%;
  background-color: var(--color-light--1);
}

/*.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: $color-primary;
    animation: rotate 2s infinite linear;
  }
}*/

.logo {
  align-self: center;
  height: 4rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 12.5rem;

  background-color: var(--color-dark--2);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5001;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5000;
}

.hidden {
  display: none;
}

.form__label {
  align-self: center;
  position: relative;
  color: white;
}

h2 {
  color: white;
  text-align: center;
}

.form__button {
  align-self: right;
  position: relative;
}

.form__comments {
  width: 100%;
  padding: 4px;
}

.side__entries {
  background-color: var(--color-dark--2);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  list-style-type: none;
  resize: none;
  margin-left: 1.1rem;
}

.side__rows {
  display: flex;
}

/*.mid__row {
  display: grid;
  align-items: baseline;
  grid-template-columns: 50px 100px 200px;
}*/

.side__emoji {
  margin-right: 0.6rem;
}

.list__marks {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
}

.form__input {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  text-align: left;
}

.form__buttons {
  text-align: center;
}

.form__add__button {
  color: white;
  background-color: var(--color-dark--2);
  border-radius: 5%;
  width: 3rem;
  height: 1.2rem;
  border-color: white;
  border-style: double;
}

.form__add__button:hover {
  border-color: lightblue;
}

.form__add__button:focus {
  border-color: lightblue;
  background-color: lightblue;
}

.form__cancel__button {
  color: white;
  background-color: var(--color-dark--2);
  border-radius: 5%;
  width: 3rem;
  height: 1.2rem;
  border-color: white;
  border-style: double;
}

.form__cancel__button:hover {
  border-color: rgb(255, 118, 118);
}

.form__cancel__button:focus {
  border-color: rgb(255, 118, 118);
  background-color: rgb(255, 118, 118);
}
/*
.form__add__button:hover {
  border-color: lightcoral;
}*/

.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
  background: var(--color-dark--1);
  color: white;
}
